.works {
  margin-left: -$interval-box;
  margin-top: -$interval-box;
  display: flex;
  flex-wrap: wrap;
}

.works__img {
  width: 100%;
  height: auto;
  display: block;
}

.works__item {
  margin-left: $interval-box;
  margin-top: $interval-box;
  @media screen and (min-width: 768px) {
    & {
      width: calc((100% - 30px * 2) / 2);
    }
  }
  @media screen and (min-width: 1200px) {
    & {
      width: calc((100% - 30px * 3) / 3);
    }
  }
}
.works__link {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: box-shadow $function-time;

  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.works__box {
  position: relative;
  overflow: hidden;
}
.works__animation {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  transform: translateY(105%);

  padding: 24px;

  @media screen and (min-width: 768px) {
    & {
      display: flex;
    }
  }

  justify-content: center;
  align-items: center;

  transition: transform $function-time;

  background: rgba(33, 150, 243, 0.9);

  .works__link:hover &,
  .works__link:focus & {
    transform: translateY(0%);
  }
}

.works__description {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: $fon-color;
}
.works__text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  flex-grow: 1;
}

.works__title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;

  color: $title-text-color;
}
.works__type {
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;

  color: inherit;
}
